.homework_06-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: azure;
}

.container {
    max-width: 960px;
}

@media (max-width: 950px) {
    .container {
        max-width: 100%;
    }
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    width: 450px;
    height: 150px;
    padding: 20px;
    border-radius: 10px;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

@media (max-width: 950px) {
    .card {
        width: 100%;
        align-items: center;
    }
}

.card-title {
    font-size: 24px;
}

.card-text {
    font-size: 20px;
}

.card-text span {
    font-weight: bold;
}